In [21]:
import pandas as pd
df = pd.read_csv('Dataset/processed_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Age                             1001 non-null   object
 1   Gender                          1001 non-null   int64
 2   Height                          1001 non-null   float64
 3   Weight                          1001 non-null   float64
 4   CALC                            1001 non-null   float64
 5   FAVC                            1001 non-null   int64
 6   FCVC                            1001 non-null   float64
 7   NCP                             1001 non-null   float64
 8   SCC                             1001 non-null   int64
 9   SMOKE                           1001 non-null   int64
 10  CH2O                            1001 non-null   float64
 11  family_history_with_overweight  1001 non-null   int64
 12  FAF                             1001 non-null   float64
 13  TUE                             1001 non-null   float64
 14  CAEC                            1001 non-null   float64
 15  MTRANS                          1001 non-null   int64
 16  NObeyesdad                      1001 non-null   float64
dtypes: float64(10), int64(6), object(1)
memory usage: 133.1+ KB

In [22]:
processd_No_classLabel_data = df.drop(df.columns[-1] , axis=1)
processd_No_classLabel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Age                             1001 non-null   object
 1   Gender                          1001 non-null   int64
 2   Height                          1001 non-null   float64
 3   Weight                          1001 non-null   float64
 4   CALC                            1001 non-null   float64
 5   FAVC                            1001 non-null   int64
 6   FCVC                            1001 non-null   float64
 7   NCP                             1001 non-null   float64
 8   SCC                             1001 non-null   int64
 9   SMOKE                           1001 non-null   int64
 10  CH2O                            1001 non-null   float64
 11  family_history_with_overweight  1001 non-null   int64
 12  FAF                             1001 non-null   float64
 13  TUE                             1001 non-null   float64
 14  CAEC                            1001 non-null   float64
 15  MTRANS                          1001 non-null   int64
dtypes: float64(9), int64(6), object(1)
memory usage: 125.2+ KB

In [23]:
from sklearn.preprocessing import LabelEncoder
# encoding CAEC and CALC uniformly
encoding_mapping = {'10-15': 0, '16-20': 1, '21-25': 2 , '26-30' : 3 , '31+' : 4}

processd_No_classLabel_data.loc[:,'Age'] = processd_No_classLabel_data['Age'].map(encoding_mapping)

In [24]:
processd_No_classLabel_data

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS
0,4,1,0.580136,0.665097,1.0,1,2.967300,3.0,0,0,2.530035,1,0.955317,1.339232,1.0,0
1,1,1,0.570708,0.500265,0.0,1,2.000000,3.0,0,0,2.000000,1,2.000000,0.000000,2.0,3
2,1,0,0.012072,0.135510,1.0,1,2.000000,3.0,1,0,1.040342,0,0.497373,1.783319,1.0,3
3,2,1,0.285354,0.090212,1.0,0,2.000000,3.0,0,0,1.000000,0,0.000000,0.000000,1.0,3
4,4,0,0.209260,0.073810,1.0,0,2.000000,3.0,0,0,2.000000,1,1.000000,0.000000,1.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,2,0,0.544484,0.763893,1.0,1,3.000000,3.0,0,0,1.657541,1,1.672639,0.629285,1.0,3
997,2,1,0.551684,0.446958,2.0,1,2.000000,3.0,0,1,1.000000,0,1.000000,1.000000,2.0,0
998,1,0,0.723026,0.037188,1.0,1,2.945967,3.0,0,0,2.953192,0,2.830911,1.466667,1.0,3
999,1,0,0.669598,0.812189,1.0,1,3.000000,3.0,0,0,2.691591,1,1.168368,0.735372,1.0,3
1000,1,0,0.349416,0.356415,0.0,1,2.921576,3.0,0,0,1.003636,1,1.000227,0.905596,1.0,3

from sklearn.preprocessing import StandardScaler 
scaler = StandardScaler()
scaled_features = scaler.fit_transform(processd_No_classLabel_data)
df_scaled = pd.DataFrame( scaled_features , columns=processd_No_classLabel_data.columns)
print(df_scaled.head())

In [25]:
import numpy as np 
from sklearn.cluster import KMeans
from sklearn.preprocessing import scale 

np.random.seed(15)

kmeans = KMeans ( n_clusters = 4 ,random_state = 15)
kmeans_result = kmeans.fit(processd_No_classLabel_data)

print("Cluster centers :")
print(kmeans_result.cluster_centers_)

print("\nCluster Labels:")
print(kmeans_result.labels_)

Cluster centers :
[[1.77575758 0.35151515 0.35739749 0.24601421 0.58787879 0.83030303
  2.40535218 1.20253551 0.05454545 0.01818182 1.90318922 0.55757576
  0.69177816 0.72987882 1.14545455 3.04242424]
 [2.71710526 0.73026316 0.56874603 0.34836826 0.69736842 0.93421053
  2.43225601 2.97354407 0.01973684 0.02631579 1.9304801  0.84210526
  1.18427159 0.6745901  1.08552632 0.01315789]
 [1.39153439 0.42857143 0.47589752 0.29883486 0.68783069 0.82539683
  2.36782297 3.06501498 0.0978836  0.01322751 1.96744228 0.66931217
  1.54062364 0.92565899 1.2037037  3.03439153]
 [2.5751634  0.49673203 0.49231682 0.4564874  0.82679739 0.92156863
  2.56789697 2.96491296 0.01633987 0.02941176 2.00920502 0.90522876
  0.6230775  0.52784682 1.09150327 3.02614379]]

Cluster Labels:
[1 2 2 ... 2 2 2]

In [1]:
%pip install yellow

Requirement already satisfied: yellow in c:\users\rikhm\anaconda3\lib\site-packages (0.0.1)
Note: you may need to restart the kernel to use updated packages.